/* media query for desktop */
@media (min-width: 1400px) {
    .banner img
    {
        height: 550px;
        width: 100%;
    }

    /* overview page  */
    .dropdown {
        margin-left: 800px;
    }

    .dropdown select {
        width: 573px;
        min-height: 56px;
        border-radius: 0;
        margin: 27px 0 0 490px;
        font-size: 28px;
        text-align: left;
        color: black;
        border: 1px solid;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        margin-left: 22px;
        margin-bottom: 87px;
        font-family: 'Rockwell Bold', 'Rockwell Regular', 'Rockwell';
    }

    .flex-container a {
        text-decoration: none;
    }

    .flex-container section {
        width: 573px;
        margin: 58px 20px -20px;
        flex-grow: 1;
        color: #333333;
        border: 1px solid;
        border-color:#F59F17;
        text-align: left;
    }

    .flex-container h3 {
        font-weight: 700;
        font-size: 36px;    
        margin: 65px 0px 15px;
    }
    .flex-container h4 {
        font-size: 28px;
    }

    .flex-container h3, h4{
        margin-left: 50px;
        color: black;
    }

    .flex-container .restaurantImg {
        left: 49px;
        top: 646px;
        width: 100%;
        height: 410px;
    }
    .flex-container .ratings {
        width: 185px;
        height: 32px;
        margin: 15px 0px 34px 43px;
    }
    /* end overview page */


    /* details page */

    .container_details {
        margin: 0px 61px 78px 105px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .top {
        margin: 100px 0 20px;
        font-family: 'Rockwell Bold', 'Rockwell Regular', 'Rockwell';
    }
    .top h1 {
        font-weight: 700;
        font-size: 60px;
        margin-bottom: 20px;
    }
    .top h3 {
        font-weight: 400;
        font-size: 40px;
        margin-bottom: 18px;
        color: black;
    }
    .top p {
        color: black;
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
    }
    .top button {
        width: 448px;
        height: 100px;
        margin: -202px 0 0 167px;
        color: #FFFFFF;
        font-size: 36px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 0;        
        background-color: #F59F17;
    }

    .restaurant_image img {
        width: 100%;
        height: 585px;
    }

    .restaurant_details .container-fluid {
        margin-top: 40px;
    }
    .restaurant_details .col-md, .col-md-1, .col-md-11 {
        font-size: 32px;
        padding: 0;
    }

    .restaurant_details div.col-md-11{
        padding-left: 120px;
    }

    .restaurant_details .ratings {
        width: 199px;
        height: 34px;
        margin-left: 66px;
    }
    /* end detail page */



    /* start reservation page */

    .container_reservation {
        background-color: #FAFAFA;
        font-family: Arial, Helvetica, sans-serif;
    }

    .reservation_top {
        margin: 100px 83px 0 247px;
    }

    .reservation_top h3{
        font-family: 'Rockwell';
        font-weight: 400;
        font-size: 48px;
        color: black;
    }
    .reservation_top p {
        font-size: 24px;
        margin-bottom: 38px;
        color: black;
    }

    #reservation_form {
        margin: 0 754px 128px 247px;
        padding: 25px 0 69px;
        position: relative;
    }

    #reservation_form label {
        font-size: 24px;
    }

    #reservation_form select, .form-group input, .form-group textarea {
        height: 60px;
        font-size: 22px;
        border-radius: 0;
        border: 1px solid;
    }

    #reservation_form .form-group input {
        padding: 20px 0 20px 17px;
    }
    #reservation_form .form-group textarea {
        height: 185px;
    }
    #reservation_form div.col {
        margin-bottom: 60px;
        /* margin: 0 47px 60px 0; */
    }

    #reservation_form hr {
        margin: 50px 0 40px 0;
        border-top: 1px solid;
    }
    #reservation_form .bottom_line {
        display: none;
    }

    #reservation_form button {
        width: 237px;
        height: 63px;
        font-size: 30px;
        color: #FFFFFF;
        border-radius: 0;        
        margin: 68px 0 0 661px;
        position: absolute;
        background-color: #F59F17;
    }

    .summary_container {
        border: 1px solid black;
        background-color: white;
        margin: 69px 0 0 1231px;
        width: 450px;
        height: 675px;
        position: absolute;
    }

    .summary_container h3 {
        font-size: 24px;
        margin: 32px 0;
        text-align: center;
        color: black;
    }

    .summary {
        font-size: 22px;
        margin: 0 20px;
    }

    .summary p {
        color: black;
    }

    .summary .top_line {
        display: none;
    }

    .summary div.col-md {
        border-top: 1px solid black;
        padding: 12px 0 0px 12px;
    }

    .summary .vl {
        border-left: 1px solid black;
        position: absolute;
        height: 553px;
        margin-left: 185px;
    }
    .summary hr {
        margin: 119px 0 0 0px;
        width: 100%;
        border-top: 1px solid;
    }
    /* end reservation page */
}


/* mobile styling */
@media only screen and (min-width: 480px) and (max-width: 1000px) {
    body {
        font-family: Arial, 'Times New Roman', Times, serif;
        margin: 0px;
        width: 720px;
    }
    
    .banner img
    {
        height: 242px;
        width: 100%;
    }

    /* mobile overview page */
    .dropdown {
        margin: 0px 0px 23px -49px;
    }

    .dropdown select {
        width: 325px;
        height: 34px;
        font-size: 17px;
        text-align: left;
        color: black;
        border-radius: 0;
        margin: 20px 0 0 417px;
        padding: 5px 16px;
        border: 1px solid;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        margin-left: 2px;
        margin-bottom: 9px;
    }
    
    .flex-container a {
        text-decoration: none;
    }

    .flex-container section {
        margin: 0px 3px 26px 21px;;
        flex-grow: 1;
        color: #333333;
        border: 1px solid;
        border-color:#F59F17;
        text-align: left;
        width: 323px;
    }

    .flex-container h3 {
        font-family: 'Rockwell Bold', 'Rockwell Regular', 'Rockwell';
        font-weight: 700;
        font-size: 17px;    
        margin: 33px 0px 15px;
    }
    .flex-container h4 {
        font-size: 13px;    
    }

    .flex-container h3, h4{
        margin-left: 25px;
        color: black;
    }

    .product .restaurantImg {
        left: 49px;
        top: 646px;
        width: 100%;
        height: 203px;
    }

    .product .ratings {
        width: 103px;
        height: 16px;
        margin: 5px 0 15px 22px;
    }
    /* end overview page */

    
    /* start detail page */
    .container_details {
        margin: -55px 32px 0 36px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .top {
        margin: 100px 0 0;

    }
    .top h1 {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 8px;
        font-family: 'Rockwell Bold', 'Rockwell Regular', 'Rockwell';
    }
    .top h3{
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 5px;
        color: black;
        font-family: 'Rockwell Bold', 'Rockwell Regular', 'Rockwell';
    }
    .top p {
        font-size: 12px;
        display: inline-block;
        color: black;
    }
    .top button {
        width: 203px;
        height: 43px;
        margin: -80px 0 0 448px;
        font-size: 20px;
        color: #FFFFFF;
        border-radius: 0;        
        background-color: #F59F17;
    }
    .restaurant_image {
        margin-bottom: 40px;
    }
    .restaurant_image img {
        width: 651px;
        height: 249px;
    }

    .restaurant_details {
        margin: 0;
    }

    .restaurant_details .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-11 {
        font-size: 15px;
        padding: 0;
    }

    .restaurant_details div.col-xs-11{
        padding-left: 0px;
        max-width: 552px;
    }


    .restaurant_details .ratings {
        width: 97px;
        height: 18px;
    }
    /* end detail page */


    /* start reservation page */

    .container_reservation {
        margin-bottom: 72px;
        padding-bottom: 429px;
        background-color: #FAFAFA;
        font-family: Arial, Helvetica, sans-serif;
    }

    .reservation_top {
        margin: 40px 0 0;
    }

    .reservation_top h3{
        font-family: 'Rockwell Regular', 'Rockwell';
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        color: black;
    }
    .reservation_top p {
        font-size: 17px;
        text-align: center;
        color: black;
    }

    #reservation_form {
        margin: 0 54px;
        padding: 25px 0 69px;
        position: relative;
        text-align: center;
    }
    
    #reservation_form label {
        font-size: 24px;
    }

    #reservation_form select, .form-group input, .form-group textarea {
        height: 45px;
        width: 615px;
        font-size: 22px;
        border-radius: 0;
        border: 1px solid;
        text-align-last: center;
    }

    #reservation_form .form-group input {
        padding: 20px 0 20px 17px;
        text-align-last: left;
    }
    #reservation_form .form-group textarea {
        height: 185px;
        text-align-last: left;
    }
    #reservation_form div.col {
        margin-bottom: 20px;
    }

    #reservation_form hr {
        border-top: 1px solid;
        margin: 30px 0 12px 0;
    }

    #reservation_form button {
        width: 142px;
        height: 38px;
        font-size: 18px;
        color: #FFFFFF;
        border-radius: 0;    
        margin: 497px 0 0 164px;
        position: absolute;
        background-color: #F59F17;
    }

    .summary_container {
        border: 1px solid black;
        background-color: white;
        margin: 881px 0 0 54px;
        width: 613px;
        height: 450px;
        position: absolute;
    }

    .summary_container h3 {
        font-size: 24px;
        text-align: center;
        margin: 30px 0 25px;
        color: black;
    }

    .summary {
        font-size: 20px;
        margin: 0 113px;
    }

    .summary p {
        color: black;
    }

    .summary div.col-xs {
        border-top: 1px solid black;
        padding: 0 0 0 0;
    }

    .summary p {
        margin: 11px 0 0 0;
    }

    .summary .top_line {
        border-left: 3px solid;
        margin: 0 0 0 -93px;
        width: 539px;
        position: absolute;
    }

    .summary .vl {
        border-left: 1px solid black;
        position: absolute;
        height: 342px;
        margin-left: 154px;
    }
    .summary hr {
        border-top: 1px solid;
        margin: 51px 0 0 -78px;
        width: 542px;
    }
    /* end reservation page */
}