html {
    background-color: #aeaeae;
}

button:focus {outline:0;}

body {
    /* max-width: 1280px; */
    margin: 0 auto;
    background-color: white;
    font-family: Arial; 
    min-width: 470px;
    min-height: 500px;
}

i {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
}




.main {
    margin: .66rem;
}

.main h1 {

    font-family: Rockwell, Georgia;
    
}


/* NAVIGATION */
